<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Autorisation pour lire les fichiers sur Android < 13 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".exam_prepa._2.ExamPrepaCustumAdapter"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".exam_prepa._2.ExamPrepaListAdapter"
            android:exported="true" />
        <activity
            android:name=".exam_prepa._1.ExamPrepaCalculatrice"
            android:exported="true" />
        <activity
            android:name=".exam_prepa._1.ExamPrepMain"
            android:exported="true" />
        <activity
            android:name=".devoir.DetailsDevoirActivity"
            android:exported="false" />
        <activity
            android:name=".tp3.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".tp3.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".devoir.MainPage"
            android:exported="true" />
        <activity
            android:name=".tp2.Activity_List_Absent"
            android:exported="false" />
        <activity
            android:name=".tp2.Activity_Login"
            android:exported="true" />
        <activity
            android:name=".tp1.Calculatrice"
            android:exported="false" />
    </application>

</manifest>